/.gitattributes
/.idea/
/.vagrant/
/build/*
/deps/
/test/helloworld/*/helloworld.opensdf
/test/helloworld/*/helloworld.sdf
/test/helloworld/*/helloworld.v12.suo
/test/helloworld/*/helloworld.vcxproj.user
/test/helloworld/*/Win32
/test/helloworld/*/x64
/test/helloworld/*/helloworld.*.debug
/test/helloworld/*/helloworld.*.release
/test/helloworld/*/bin/
/test/helloworld/*/build.xml
/test/helloworld/*/gen/
/test/helloworld/*/libs/
/test/helloworld/*/local.properties
/test/helloworld/*/obj/
/test/helloworld/*/proguard-project.txt
/test/helloworld/*/project.properties