/.gitattributes
/.idea/
/.vagrant/
/build/*/*.a
/build/*/*.lib
/build/*/*.so
/build/*/*.dylib
/build/*/*.dll
/deps/
/test/helloworld/*/helloworld.opensdf
/test/helloworld/*/helloworld.sdf
/test/helloworld/*/helloworld.v12.suo
/test/helloworld/*/helloworld.vcxproj.user
/test/helloworld/*/Win32
/test/helloworld/*/x64
/test/helloworld/*/helloworld.*.debug
/test/helloworld/*/helloworld.*.release